:root {
  --color-primary: #336699;
  --color-dark: #2f4858;
  --color-light: #f5fffa;
  --color-contrast: white;
}

h2 {
  margin-bottom: 1rem;
}

a {
  --bs-link-color-rgb: 51, 102, 153;
}

a:hover {
  --bs-link-hover-color-rgb: 47, 72, 88;
}

/* stick footer to bottom */
div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
}
footer {
  margin-top: auto;
}

.bg-custom {
  background-color: var(--color-primary);
  color: var(--color-contrast);
}

.btn-custom {
  --bs-btn-color: var(--color-contrast);
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: var(--color-contrast);
  --bs-btn-hover-bg: var(--color-dark);
  --bs-btn-hover-border-color: var(--color-dark);
  --bs-btn-active-color: var(--color-contrast);
  --bs-btn-active-bg: var(--color-dark);
  --bs-btn-active-border-color: var(--color-contrast);
  --bs-btn-disabled-color: var(--color-dark);
  --bs-btn-disabled-bg: var(--color-light);
  --bs-btn-disabled-border-color: var(--color-dark);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
